.foto {
    width: 200px;
    height: 200px;
    margin-left: 20%;
    margin-top: 20%;
    margin-right: 20%;
}

.card-actions {
    margin-left: 38%;
    margin-top: 5%;
}

.card {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: 5%;
}